services:
  pluie:
    image: ewenquim/pluie:latest
    build: .
    platform: linux/amd64
    container_name: pluie-app
    restart: unless-stopped
    ports:
      - "9999:9999" # Left is host port (you can customize), right is container port (do not change)
    volumes:
      - ./vault:/vault # Left is host (you can set you own vault path), right is container (do not change)
    environment:
      HOME_NOTE_SLUG: ACCUEIL # Default is "Index"
      SITE_TITLE: Pluie # Default "Pluie"
      SITE_DESCRIPTION: My personal knowledge base # Default empty
      SITE_ICON: https://avatars.githubusercontent.com/u/46993939?v=4 # Default empty (no icon)
      PUBLIC_BY_DEFAULT: true # Default false for privacy
      HIDE_YAML_FRONTMATTER: false # Default false
    develop:
      watch:
        - action: rebuild
          path: .
          ignore:
            - tmp/
            - .git/
            - README.md
            - .gitignore
            - .dockerignore
        - action: sync
          path: ./vault
          target: /vault
